canvas{
	position:relative;
	left:26%;
}
#scores{
	position:relative;
	line-height:25px;
	width:150px;
	text-align:center;
	vertical-align:middle;
	z-index:3;
	top:6.5em;
	left:55%;
}
#creator{
	position:relative;
	line-height:25px;
	vertical-align:middle;
	top:28em;
}
a{
	text-decoration:none;
	color:black;
}
a:hover{
	color:#36f1ed;
}