form button {
  position: relative;
  margin-top: 30px;
  margin-bottom: 30px;
  left: 50%;
  transform: translate(-50%, 0);
  font-family: inherit;
  color: white;
  background: #FF3838;
  outline: none;
  border: none;
  padding: 5px 15px;
  font-size: 1.3em;
  font-weight: 400;
  border-radius: 3px;
  box-shadow: 0px 0px 10px rgba(51, 51, 51, 0.4);
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}
form button:hover {
  background: #ff5252;
}
form{
	box-shadow:0px 0px 20px rgba(0,0,0,0.7);
	position:center;
	border-radius:10px;
	color:#333;
}
form header{
	background:#FF3838;
	padding:30px 20px;
	color:white;
	font-size:1.2em;
	font-weight:600;
	border-radius:10px 10px 0px 0px;
}
form label{
	margin-left:20px;
	margin-top:30p;
	margin-bottom:5px;
	position:relative;
	display:inline-block;
}
form input {
  display: block;
  width: 78%;
  margin-left: 20px;
  padding: 5px 20px;
  font-size: 1em;
  border-radius: 3px;
  outline: none;
  border: 1px solid #ccc;
}
.register{
	color:#01ba0b;
}
.register a{
	text-decoration:none;
	color:#1e33f0;
}
.register a:hover{
	color:#FF3838;
}